<section>
  <style>
    .code-container {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      overflow: auto;
      resize: horizontal;
      max-width: 100%;
    }
  </style>
  <div class="container mx-auto">
    <div *ngIf="loading" class="text-center p-4">
      <app-shimmer></app-shimmer>
    </div>
    <div *ngIf="!loading && items.length === 0" class="text-center p-4">No snippets found!</div>
    <div class="grid grid-cols-2 md:grid-cols-auto lg:grid-cols-auto gap-4 ">
      @for (item of items; track item.id) {
      <div class="grid-flow-row-dense p-4 border rounded shadow code-container">
        <a [routerLink]="['snippet',item.id]">
          <h3 class="text-lg font-bold mb-2">{{ item.title }}</h3>
        </a>
        <pre class="bg-gray-100 p-2 rounded code-container">{{ item.code }}</pre>
      </div>
      }
    </div>
  </div>
</section>